@model ForgetPasswordViewmodel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1>Forget password</h1>
<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>

    <input type="email" asp-for="Email" placeholder="Email" required="" />
    <span asp-validation-for="Email"></span>
    <br />
   
    <input type="submit" value="ResetPassword" class="btn btn-primary" />
</form>