
@model string
<td><a app-action="Details" app-route-id="@Model" class="btn btn-warning"><i class="fas fa-eye"></i>Details</a></td>

<td><a app-action="Update" app-route-id="@Model" class="btn btn-success"><i class="fas fa-edit"></i>Update</a></td>
<td><a app-action="Delete" app-route-id="@Model" class="btn btn-danger"><i class="fas fa-trash"></i>Delete</a></td>
